
.cabecalho {
  background-color: var(--cor-vermelha);
  padding: 30px 0 0 0;
  margin-bottom: 10px;
}

.cabecalho-box {
  /* padding-bottom: 10px;  */
}

.cabecalho-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}


.cabecalho-superior__texto-principal {
  color: #fff;
  font-size: 30px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;

}

.cabecalho-superior__logo {
  width: 163px;
  height: 32px;
}

.cabecalho-superior__campo {
  position: relative;
  filter: drop-shadow(0 0 2px black);
}

.cabecalho-superior__input {
  width: 553.181px;
  height: 36px;
  border: none;
  border-radius: 5px;
  padding: 2px 15px;
  color: black;
  font-size: .9rem;


}

.cabecalho-superior__input::placeholder {
  font-weight: bold;

}

.cabecalho-superior__campo i {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 25px;
  transform: translateY(-50%);
  margin-right: 10px;
  color: var(--cor-vermelha);
  font-weight: 500;

}

.cabecalho-superior__perfil {
  display: flex;
  align-items: center;
  gap: 10px;


}

.cabecalho-superior__perfil i {
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;
  padding: 3px;
  border-radius: 50%;
}


.cabecalho-superior__texto {
  color: #fff;
  font-weight: 500;
}

.cabecalho-superior__icones {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cabecalho-superior__icones i {

  color: white;
  font-size: 28px;

}

.cabecalho-superior__link:hover:not(:last-child) i {
  transition: 0.5s ease;
  transform: scale(1.4);
}

.cabecalho-superior__icones div {
  position: relative;
}

.cabecalho-superior__icones div:hover .cabecalho-superior__contador {
  transform: scale(1.2);

}



.cabecalho-superior__icones div {
  position: relative;
}


.cabecalho-superior__contador {
  position: absolute;
  color: white;
  top: -12px;
  right: -10px;
  background-color: #ab0000;
  padding: 4px;
  border-radius: 50%;


}


.cabecalho-inferiror {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;

}

.cabecalho-inferiror__cep {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.cabecalho-inferiror__cep i {
  font-size: 25px;
  font-weight: normal;
}

.cabecalho-inferiror__texto span {
  text-transform: uppercase;
}

.cabecalho-inferiror-memu {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  font-weight: bold;
}





.cabecalho-departamentos {
  background-color: #fff;
  padding: 5px 0;
}

.cabecalho-departamentos-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: black;
  padding: 2.8px 0;

}


.cabecalho-departamentos__todas {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 500;
}

.cabecalho-departamentos__todas i {
  font-size: 30px;
}

.cabecalho-departamentos__todas .bx-chevron-down {
  transform: rotate(180deg);
}

.cabecalho-departamentos__todas:hover .bx-chevron-down {
  transform: rotate(0deg);
  transition: 1s ease;
}


.cabecalho-departamentos__texto {
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* ============================ DROPDOWN FLUTUANTE ================================== */

.departamentos-dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  margin-right: 35px;
  background-color: #fff;
  padding: 20px 0 0 0;
  margin-bottom: 10px;
  visibility: hidden;
  opacity: 0;
  top: 30px;
  z-index: 200;
  transition: .1s ease;

}

.cabecalho-departamentos__todas:hover .departamentos-dropdown {
  visibility: visible;
  opacity: 1;
  transition: .5s ease;
}


.departamentos-dropdown>.box {
  padding-left: 35px;
}

.departamentos-dropdown>.box>.caixa-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.departamentos-dropdown .secao {
  align-self: flex-start;
}

.departamentos-dropdown__lista {
  margin-bottom: 30px;
}

.departamentos-dropdown__titulo {
  margin-bottom: 15px;
  color: black;
  font-size: 14px;
  font-weight: bold
}

.departamentos-dropdown__item {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}



.cabecalho-departamentos-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #797979;
  font-weight: 400;
}

.cabecalho-departamentos__item:nth-child(9) {
  color: black;
  font-weight: 700;
}

.cabecalho-departamentos__link {
  text-transform: lowercase;
}

