
/* ========================= FAIXA EXCLUSIVA ==========================  */
.faixa-esclusiva {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}



.faixa-esclusiva img {
  width: 100%;
}